#chart {
    background-color: #fff;
    width:60%;
    margin: 1rem auto;
}

p {
    text-align: center;
}

button {
    background-color: aqua;
    border: 1px solid;
    cursor: pointer;
    margin-left: 1rem;
    padding: 0.5 2rem;
    text-transform: uppercase;
}

button:hover {
    background-color: darkblue;
    color: white;
}