.Crypto {
    padding: 50px 25%;
}

.Crypto .card {
    border: 4px solid rgb(0, 0, 0);
    background-color: #558b2f;
}

.Crypto input {
    border-radius: 50px;
    background: #004ba0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.75);
    line-height: 34px;
    padding: 0px 15px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}